body {
	padding-top: 100px;
	>div {
		height: 50%;
		>div {
			height: 50%;
			>div.login-form {
				height: 50%;
			}
		}
	}
}


.facebookButton {
  padding-top: 10px;
}

.googleButton {
	padding-top: 20px;
}


.info {
	color: #2b6dad;
}

.info:hover {
	text-decoration: underline;
}