.content {
  font-size: 1.33em;
}

.headerTitle {
  font-size: 2em;
}

.tags {
  padding-top: 30px;
  .innerTags {
    padding-top: 5px;
  }
}

.box {
  padding-top: 30px;
}

.button {
  padding-right: 5px;
}


.innerButton {
  padding: 4px;
}