.content {
  font-size: 1.33em;
}

.headerTitle {
  font-size: 2em;
}

.headerTitle:hover {
  text-decoration: underline;
}

.tags {
  padding-top: 30px;
  .innerTags {
    padding-top: 5px;
  }
}

.box {
  padding-top: 30px;
}

.button {
  padding-right: 5px;
}


.innerButton {
  padding-right: 5px;
}

.loadButton {
  padding-top: 10px;
  padding-bottom: 10px;
}