.headerTitle {
  font-size: 20px;
}

.headerTitle:hover {
  text-decoration: underline;
}

@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
.description {
	color: gray;
	font-size: 20px;
	font-family: 'Slabo 27px';
}